{% extends "index.html" %}

{% block title %}Siscupos - Programas{% endblock %}

{% block page-header%}
Coordinación
{% endblock %}

{% block breadcrumb %}
<li>
    <i class="fa fa-table"></i> Coordinación
</li>
<li class="active">
    <i class="fa fa-edit"></i> programas
</li>
{% endblock %}

{% block content %}
<div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Programas</h3>
            </div>
            <div class="panel-body">

                {% if lista_programas %}
                {% for programa in lista_programas %}
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="huge" title="{{programa.nombre}}">{{programa.sigla}}</div>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{programa.asignaturaxprograma_set.count}}</div>
                                    <div>Materias</div>
                                </div>
                            </div>
                        </div>
                        <a href="/siscupos/coordinacion/programacion/{{programa.id}}/plan/">
                            <div class="panel-footer" title="{{programa.nombre}}">
                                <span class="pull-left">Ver Detalles</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    <!--div class="well well-lg">{{programa.sigla}}</div-->
                </div>

                {% endfor %}
                {% else %}No hay programas registrados.
                {% endif %}

            </div>
        </div>

    </div>
</div>
<!-- /.row -->

{% endblock %}
