{% extends "index.html" %}

{% block title %}Siscupos - Optimizador Plan carrera{% endblock %}

{% block page-header%}
Optimizador plan de carrera
{% endblock %}

{% block breadcrumb %}
<li>
    <i class="fa fa-table"></i> Coordinación
</li>
<li class="active">
    <i class="fa fa-dashboard"></i> Optimizador
</li>
{% endblock %}

{% block content %}
    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Resultados</h4>
          </div>
          <div class="modal-body">
            <div class="col-lg">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Programas</h3>
                    </div>
                    <div class="panel-body">
                        {% if lista_programas %}
                        {% for programa in lista_programas %}
                        <a style="cursor: pointer;" onclick="seleccionarPlan('{{programa.sigla}}')">
                            <div class="col-sm-3">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="huge">{{programa.sigla}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4">No hay programas registrados.</td>
                        </tr>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Asignación vs Cupos
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="morris-bar-chart"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
<div class="row">
    <div class="col-lg">
        <div class="table-responsive">
            <button type="button" class="btn btn-danger btn-md">
              <span class="glyphicon glyphicon-star"></span> <a style="color:white !important" href="/siscupos/coordinacion/optimizando">Optimizar</a>
            </button>

            <br />
            <br />
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Fecha Ejecución</th>
                    <th>Observación</th>
                    <th>Periodo</th>
                    <th>Resultados</th>

                </tr>
                </thead>
                <tbody>
                {% if lista_ejecuciones %}
                {% for ejecucion in lista_ejecuciones %}
                <tr>
                    <td>{{ejecucion.codigo}}</td>
                    <td>{{ejecucion.fechaCorrida}}</td>
                    <td>{{ejecucion.observacion}}</td>
                    <td>{{ejecucion.periodo}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm">
                            <a class="btn-primary" href="/siscupos/coordinacion/optimizador/{{ejecucion.id}}/resultados">
                                <span class="glyphicon glyphicon-list"></span>
                            </a>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-stats"></span>
                        </button>

                    </td>
                </tr>

                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6">No existen ejecuciones.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
<!-- /.row -->

{% endblock %}

