{% extends "index.html" %}

{% block title %}Siscupos - Programas{% endblock %}

{% block page-header%}
{{programa}}
{% endblock %}

{% block breadcrumb %}
<li>
    <i class="fa fa-table"></i> Coordinación
</li>
<li>
    <i class="fa fa-edit"></i> programas
</li>
<li class="active">
    <i class="fa fa-calendar"></i> programación
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Asignaturas</h3>
        </div>
        <div class="panel-body">
            {% if lista_programacion %}
            {% for programa in lista_programacion %}
            <div class="col-sm-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="huge">{{programa.asignaturaXPrograma.asignatura.codigo}}</div>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{programa.cupos}}</div>
                                <div>Cupos</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--div class="well well-lg">{{programa.sigla}}</div-->
            </div>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">No hay programas registrados.</td>
            </tr>
            {% endif %}
        </div>
    </div>
</div>
<!-- /.row -->
<h2 class="page-subtitle">SELECTED Asignatura</h2>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Asignaturas</h3>
        </div>
        <div class="panel-body">
        </div>
    </div>
</div>

{% endblock %}

