{% extends "index.html" %}

{% block title %}Siscupos - Optimizador Plan carrera{% endblock %}

{% block page-header%}
Optimizador plan de carrera
{% endblock %}

{% block breadcrumb %}
<li>
    <i class="fa fa-table"></i> Coordinación
</li>
<li>
    <i class="fa fa-dashboard"></i> Optimizador
</li>
<li class="active">
    <i class="fa fa-file"></i> resultados
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Año</th>
                    <th>Sección</th>
                    <th>Cupos</th>
                    <th>Periodo</th>
                    <th>Asignatura</th>
                    <th>Código Estudiante</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Fecha Ejecución</th>

                </tr>
                </thead>
                <tbody>
                {% if lista_resultado %}
                {% for resultado in lista_resultado %}
                <tr>
                    <td>{{resultado.anno}}</td>
                    <td>{{resultado.preProgramacion.seccion}}</td>
                    <td>{{resultado.preProgramacion.cupos}}</td>
                    <td>{{resultado.preProgramacion.periodo}}</td>
                    <td>{{resultado.preProgramacion.asignaturaXPrograma.asignatura}}</td>
                    <td>{{resultado.estudiante.codigo}}</td>
                    <td>{{resultado.estudiante.nombres}}</td>
                    <td>{{resultado.estudiante.apellidos}}</td>
                    <td>{{resultado.preAsignacionCurso.fechaCorrida}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="9">No existen resultados.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->

{% endblock %}
